@mixin mobile{
    @media screen and (max-width:480px){
        @content;
    }
}
@mixin tablet{
    @media screen and (max-width:768px){
        @content;
    }
}
@mixin laptop{
    @media screen and (max-width:1200px){
        @content;
    }
}

$myorange:rgb(255, 102, 0, 0.90);
$mygrey:rgb(0, 0, 0, 0.200);

.formContainer{

    background-color:$mygrey;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{

        background-color: aliceblue;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{

            color: $myorange;
            font-weight: bold;
            font-size: 26px;

        }

        .register{
            color:black;
            font-weight: bold;
            font-size: 12px;
        }

        form{

            display: Flex;
            flex-direction: column;
            gap: 15px;

            input{
                background-color: aliceblue;
                padding: 15px;
                border: none;
                border-bottom: 1px solid black;
            }

        }

        button{
            background-color: $myorange;
            color: white;
            padding: 10px;
            border: none;
            font-weight: bold;
            cursor:pointer;
            width: 250px;
            border-radius: 5px;

        }

        label{

            display: flex;
            align-items: center;
            gap: 10px;
            color:  black;
            font-size: 12px;
            cursor: pointer;

            img{
                width: 32px;
            }
            

        }

    }
    p{
        color: black;
        font-size: 12px;
        margin-top: 10px;
    }

}

.home{

    background-color: $mygrey;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    .container{
        border: 1px solid black;
        border-radius: 10px;
        width: 70%;
        height: 80%;
        display: flex;
        overflow: hidden;
        @include tablet{
        width: 90%;
        } 
    }

    .sidebar{
        flex:1;
        border-right: 1px solid $myorange;
        background-color: rgba(255, 102, 0, 0.1);
        position: relative;

        .navbar{
            display: flex;
            align-items: center;
            background-color: rgba(253, 109, 69, 0.952);
            height: 50px;
            padding: 10px;
            justify-content: space-between;
            color: black;
    
    
            .logo{
                color:black;
                font-weight: bold;
                font-size: 20px;
                @include tablet{
                    display: none;
                } 
            }
        
            .user{
        
                display: flex;
                gap: 10px;
                align-items: center;
            }

            img{
                background-color: aliceblue;
                height: 24px;
                width: 24px;
                border-radius: 50%;
                object-fit: cover;
                align-items: center;
            }
        
            button{
                background-color: black;
                color: white;
                padding: 10px;
                border: none;
                font-weight: bold;
                cursor:pointer;
                width: 20%x;
                border-radius: 6px;
                align-items: center;
                @include tablet{
                    position: absolute;
                    bottom: 10px;
                } 
        
            }

        }

        
        .search{
            border-bottom: 1px solid grey;

            .searchForm{

                padding: 10px;

                input{
                    background-color: transparent;
                    border: none;
                    color: black;
                    outline: none;

                    &::placeholder{
                        color:rgba(0, 0, 0, 0.65);

                    }
                }
            }
        }

        .userChat{
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: rgb(20, 20, 20, 0.80);
            cursor: pointer;

            &:hover{
                background-color: black;
            }
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            .userChatInfo{
                span{
                    font-size: 18px;
                    font-weight: 500;
                }
                p{
                    font-size: 14px;
                    color: darkgray;
                }
            }
        }
        
    }


    .chat{
        flex:2;

    .chatInfo{
        span{
            padding: 5px;
            color: black;
            font-weight: bold;
            font-size: 16px;
        }
        height:50px;
        background-color:  rgba(255, 152, 84, 0.400);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .chatIcons{
        display: flex;
        gap: 5px;

        img{

            &:nth-child(1) {
                margin-top: 2px;
                height: 20px;
            }
            &:nth-child(2) {
                height: 22px;
            }
            &:nth-child(3) {
                margin-top: 6px;
                height: 10px;
            }
            
            cursor: pointer;
        }
    }

    .messages{
        
        background-color: rgb(255, 255, 255, 0.100);
        padding: 10px;      
        height: calc(100% - 160px);
        
        overflow: scroll;


        .message{
            margin-top: 20px;
            display: flex;
            gap: 20px;
            margin-bottom: 20px;

            .messageInfo{
                display: flex;
                flex-direction: column;
                font-weight: 300px;
                color: black;

                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .messageContent{
                max-width: 80%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                p{
                    background-color: rgb(255, 153, 84);
                    padding: 5px 20px;
                    border-radius: 0px 10px 10px 10px;
                    max-width: max-content;

                }

                img{
                    width: 50%;

                }

                background: rgb(255, 255, 255, 0);
            }

            &.owner{
                flex-direction: row-reverse;

                .messageContent{

                    align-items: flex-end;
                }

                p{
                    background-color: white;
                    border-radius: 10px 0px 10px 10px ;

                }
            }

        }
    }

    .input{
        height: 50px;
        
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input{

            width: 100%;
            border: none;
            outline: none;
            
        }
    }

    .send{
        display: flex;
        align-items: center;
        gap: 10px;

        img{
            height: 24px;
            cursor: pointer;
        }
        button{

            background-color: black;
            color: white;
            padding: 10px 15px;
            border: none;
            font-weight: bold;
            cursor:pointer;
            width: 20%x;
            border-radius: 6px;
            align-items: center;

        }
    }
    
        
    }
}

