.formContainer{

    background-color:aquamarine;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWraper{

        background-color: aliceblue;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{

            color:darkcyan;
            font-weight: bold;
            font-size: 26px;
        }

        .register{
            color:darkcyan;
            font-weight: bold;
            font-size: 12px;
        }

        form{

            display: Flex;
            flex-direction: column;
            gap: 15px;

            input{
                background-color: aliceblue;
                padding: 15px;
                border: none;
                border-bottom: 1px solid darkcyan;
            }

        }

        button{
            background-color: darkcyan;
            color: white;
            padding: 10px;
            border: none;
            font-weight: bold;
            cursor:pointer;
            width: 250px;
            border-radius: 5px;

        }

    }
    p{
        color: darkcyan;
        font-size: 12px;
        margin-top: 10px;
    }


}